<style>
a {
    color: black;
    }

body {
  background: url(http://bgfons.com/uploads/paper/paper_texture3868.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
    position: relative;
}

.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}
  h1 {
      font-size: 60px;
      color: white;
      width: 1200px;
      }
  ul {
      padding: 0px 500px 0px 500px;
      }
  li {
      display: inline;
      padding: 0px 10px 0px 10px;
      }

  article {
        max-width: 500px;
        padding: 20px;
        margin: 0 auto;
      }

      @media (max-width: 500px) {
        body {
          background: white;
        }
        h1 {
          font-size: 36px;
        }
        li {
          display: block;
          padding: 0.50px
        }
      }

      h2 {
          font-size: 50px;
          font-family:  Arial, Helvetica, sans-serif;
          padding-left: 50px;
          text-align: center;
          }

.headerimage {
    object-fit: cover;
    opacity: 0.8;
    filter: alpha(opacity=30);
    width: 1800px;
    height: 400px;
    overflow: hidden;
    -webkit-filter: sepia(100%);
    filter: sepia(70%);
    margin: 30px 0px 0px 0px;
    border: 7px solid black;
    border-radius: 20px;
}

/*images*/
.pankhurst {
  width: 400px;
  height: auto;
  border-radius: 50px;
  box-shadow: 8px 8px 8px 3px gray;
  border: 3px solid #8a4419;
  border-style: inset;
  }

.davison {
  width: 400px;
  height: auto;
  border-radius: 50px;
  box-shadow: 8px 8px 8px 3px gray;
  border: 3px solid #8a4419;
  border-style: inset;
  }

.fawcett {
  width: 400px;
  height: auto;
  border-radius: 50px;
  box-shadow: 8px 8px 8px 3px gray;
  border: 3px solid #8a4419;
  border-style: inset;
  }

.singh {
  width: 400px;
  height: auto;
  border-radius: 50px;
  box-shadow: 8px 8px 8px 3px gray;
  border: 3px solid #8a4419;
  border-style: inset;
  }

.sennett {
  width: 400px;
  height: auto;
  border-radius: 50px;
  box-shadow: 8px 8px 8px 3px gray;
  border: 3px solid #8a4419;
  border-style: inset;
  }

.obama {
  width: 400px;
  height: auto;
  border-radius: 50px;
  box-shadow: 8px 8px 8px 3px gray;
  border: 3px solid #8a4419;
  border-style: inset;
  }

.merkel {
  width: 400px;
  height: auto;
  border-radius: 50px;
  box-shadow: 8px 8px 8px 3px gray;
  border: 3px solid #8a4419;
  border-style: inset;
  }

.malala {
    width: 410px;
    height: 450px;
    border-radius: 50px;
    box-shadow: 8px 8px 8px 3px gray;
    border: 3px solid #8a4419;
    border-style: inset;
  }

/*Hover CSS*/
.container {
 position: relative;
 width: 50%;
}

.image {
 display: block;
 width: 100%;
 height: auto;
}

.overlay {
 position: absolute;
 bottom: 100%;
 left: 0;
 right: 0;
 background-color: #ffffff;
 overflow: hidden;
 width: 100%;
 height:0;
 transition: .5s ease;
}

.container:hover .overlay {
 bottom: 0;
 height: 100%;
}

.text {
 color: Black;
 font-size: 20px;
 font-family:  Arial, Helvetica, sans-serif;
 position: absolute;
 overflow: hidden;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
}


div.davisonPOL {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;

}
/*Hover CSS*/
.container {
 position: relative;
 width: 50%;
}

.image {
 display: block;
 width: 100%;
 height: auto;
}

.overlay {
 position: absolute;
 bottom: 100%;
 left: 0;
 right: 0;
 background-color: #ffffff;
 overflow: hidden;
 width: 100%;
 height:0;
 transition: .5s ease;
}

.container:hover .overlay {
 bottom: 0;
 height: 100%;
}

.text {
 color: Black;
 font-size: 20px;
 font-family:  Arial, Helvetica, sans-serif;
 position: absolute;
 overflow: hidden;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
}

div.fawcettPOL {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.fawcettPOL {
  text-align: center;
  padding: 10px 20px;
}

/*Hover CSS*/
.container {
 position: relative;
 width: 50%;
}

.image {
 display: block;
 width: 100%;
 height: auto;
}

.overlay {
 position: absolute;
 bottom: 100%;
 left: 0;
 right: 0;
 background-color: #ffffff;
 overflow: hidden;
 width: 100%;
 height:0;
 transition: .5s ease;
}

.container:hover .overlay {
 bottom: 0;
 height: 100%;
}

.text {
 color: Black;
 font-size: 0px;
 font-family:  Arial, Helvetica, sans-serif;
 position: absolute;
 overflow: hidden;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
}

div.singhPOL {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
/*Hover CSS*/
.container {
 position: relative;
 width: 50%;
}

.image {
 display: block;
 width: 100%;
 height: auto;
}

.overlay {
 position: absolute;
 bottom: 100%;
 left: 0;
 right: 0;
 background-color: #ffffff;
 overflow: hidden;
 width: 100%;
 height:0;
 transition: .5s ease;
}

.container:hover .overlay {
 bottom: 0;
 height: 100%;
}

.text {
 color: Black;
 font-size: 20px;
 font-family:  Arial, Helvetica, sans-serif;
 position: absolute;
 overflow: hidden;
 top: 50%;
 left: 80%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
}

div.sennettPOL {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
/*Hover CSS*/
.container {
 position: relative;
 width: 50%;
}

.image {
 display: block;
 width: 100%;
 height: auto;
}

.overlay {
 position: absolute;
 bottom: 100%;
 left: 0;
 right: 0;
 background-color: #ffffff;
 overflow: hidden;
 width: 100%;
 height:0;
 transition: .5s ease;
}

.container:hover .overlay {
 bottom: 0;
 height: 100%;
}

.text {
 color: Black;
 font-size: 18px;
 font-family:  Arial, Helvetica, sans-serif;
 position: absolute;
 overflow: hidden;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
}

div.obamaPOL {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
/*Hover CSS*/
.container {
 position: relative;
 width: 50%;
}

.image {
 display: block;
 width: 100%;
 height: auto;
}

.overlay {
 position: absolute;
 bottom: 100%;
 left: 0;
 right: 0;
 background-color: #ffffff;
 overflow: hidden;
 width: 100%;
 height:0;
 transition: .5s ease;
}

.container:hover .overlay {
 bottom: 0;
 height: 100%;
}

.text {
 color: Black;
 font-size: 20px;
 font-family:  Arial, Helvetica, sans-serif;
 position: absolute;
 overflow: hidden;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
}

div.merkelPOL {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
/*Hover CSS*/
.container {
 position: relative;
 width: 50%;
}

.image {
 display: block;
 width: 100%;
 height: auto;
}

.overlay {
 position: absolute;
 bottom: 100%;
 left: 0;
 right: 0;
 background-color: #ffffff;
 overflow: hidden;
 width: 100%;
 height:0;
 transition: .5s ease;
}

.container:hover .overlay {
 bottom: 0;
 height: 100%;
}

.text {
 color: Black;
 font-size: 20px;
 font-family:  Arial, Helvetica, sans-serif;
 position: absolute;
 overflow: hidden;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
}

div.malalaPOL {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

/*Hover CSS*/
.container {
 position: relative;
 width: 50%;
}

.image {
 display: block;
 width: 100%;
 height: auto;
}

.overlay {
 position: absolute;
 bottom: 100%;
 left: 0;
 right: 0;
 background-color: #ffffff;
 overflow: hidden;
 width: 100%;
 height:0;
 transition: .5s ease;
}

.container:hover .overlay {
 bottom: 0;
 height: 100%;
}

.text {
 color: Black;
 font-size: 20px;
 font-family:  Arial, Helvetica, sans-serif;
 position: absolute;
 overflow: hidden;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
}

.interact-5a9ef64d07adcb0014faae9d {
  display: block;
    margin-left: auto;
    margin-right: auto
  padding: 10px 20px;
}

</style>
