<style>
a {
    color: black;
    }

body {
  background: url(http://bgfons.com/uploads/paper/paper_texture3868.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
    position: relative;
}

.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}
  h1 {
      font-size: 65px;
      color: white;
      }
  ul {
      padding: 10px;
      }
  li {
      display: inline;
      padding: 0px 10px 0px 10px;
      }

.headerimage {
    object-fit: cover;
    opacity: 0.8;
    filter: alpha(opacity=30);
    width: 1800px;
    height: 400px;
    overflow: hidden;
    -webkit-filter: sepia(100%);
    filter: sepia(70%);
}

/*images*/
.pankhurst {
  width: 300px;
  height: auto;
  }

.davison {
  width: 300px;
  height: auto;
  }

.fawcett {
  width: 300px;
  height: auto;
  }

.singh {
  width: 300px;
  height: auto;
  }

.sennett {
  width: 300px;
  height: auto;
  }

.obama {
  width: 300px;
  height: auto;
  }

.merkel {
  width: 300px;
  height: auto;
  }

.malala {
    width: 300px;
    height: auto;
  }

/*polaroid CSS*/
div.pankhurstPOL {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}


div.davisonPOL {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;

}

div.fawcettPOL {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.fawcettPOL {
  text-align: center;
  padding: 10px 20px;
}

div.singhPOL {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

div.sennettPOL {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
div.obamaPOL {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

div.merkelPOL {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

div.malalaPOL {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

</style>
