<style>
a {
    color: black;
    }

body {
  background: url(http://bgfons.com/uploads/paper/paper_texture3868.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
    position: relative;
}

.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}
  h1 {
      font-size: 65px;
      color: white;
      }
  ul {
      padding: 10px;
      }
  li {
      display: inline;
      padding: 0px 10px 0px 10px;
      }

.headerimage {
    object-fit: cover;
    opacity: 0.8;
    filter: alpha(opacity=30);
    width: 1800px;
    height: 400px;
    overflow: hidden;
    -webkit-filter: sepia(100%);
    filter: sepia(70%);
}

/*images*/
.pankhurst {
  width: 300px;
  height: auto;
  }

.davison {
  width: 300px;
  height: auto;
  }

.fawcett {
  width: 300px;
  height: auto;
  }

.singh {
  width: 300px;
  height: auto;
  }

.sennett {
  width: 300px;
  height: auto;
  }

.obama {
  width: 300px;
  height: auto;
  }

.merkel {
  width: 300px;
  height: auto;
  }

.malala {
    width: 300px;
    height: auto;
  }

/*polaroid CSS*/
div.pankhurstPOL {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
/*Hover CSS*/
.container {
 position: relative;
 width: 50%;
}

.image {
 display: block;
 width: 100%;
 height: auto;
}

.overlay {
 position: absolute;
 bottom: 100%;
 left: 0;
 right: 0;
 background-color: #ffffff;
 overflow: hidden;
 width: 100%;
 height:0;
 transition: .5s ease;
}

.container:hover .overlay {
 bottom: 0;
 height: 100%;
}

.text {
 color: Black;
 font-size: 20px;
 position: absolute;
 overflow: hidden;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
}


div.davisonPOL {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;

}
/*Hover CSS*/
.container {
 position: relative;
 width: 50%;
}

.image {
 display: block;
 width: 100%;
 height: auto;
}

.overlay {
 position: absolute;
 bottom: 100%;
 left: 0;
 right: 0;
 background-color: #ffffff;
 overflow: hidden;
 width: 100%;
 height:0;
 transition: .5s ease;
}

.container:hover .overlay {
 bottom: 0;
 height: 100%;
}

.text {
 color: Black;
 font-size: 20px;
 position: absolute;
 overflow: hidden;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
}

div.fawcettPOL {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.fawcettPOL {
  text-align: center;
  padding: 10px 20px;
}

/*Hover CSS*/
.container {
 position: relative;
 width: 50%;
}

.image {
 display: block;
 width: 100%;
 height: auto;
}

.overlay {
 position: absolute;
 bottom: 100%;
 left: 0;
 right: 0;
 background-color: #ffffff;
 overflow: hidden;
 width: 100%;
 height:0;
 transition: .5s ease;
}

.container:hover .overlay {
 bottom: 0;
 height: 100%;
}

.text {
 color: Black;
 font-size: 20px;
 position: absolute;
 overflow: hidden;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
}

div.singhPOL {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
/*Hover CSS*/
.container {
 position: relative;
 width: 50%;
}

.image {
 display: block;
 width: 100%;
 height: auto;
}

.overlay {
 position: absolute;
 bottom: 100%;
 left: 0;
 right: 0;
 background-color: #ffffff;
 overflow: hidden;
 width: 100%;
 height:0;
 transition: .5s ease;
}

.container:hover .overlay {
 bottom: 0;
 height: 100%;
}

.text {
 color: Black;
 font-size: 20px;
 position: absolute;
 overflow: hidden;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
}

div.sennettPOL {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
/*Hover CSS*/
.container {
 position: relative;
 width: 50%;
}

.image {
 display: block;
 width: 100%;
 height: auto;
}

.overlay {
 position: absolute;
 bottom: 100%;
 left: 0;
 right: 0;
 background-color: #ffffff;
 overflow: hidden;
 width: 100%;
 height:0;
 transition: .5s ease;
}

.container:hover .overlay {
 bottom: 0;
 height: 100%;
}

.text {
 color: Black;
 font-size: 20px;
 position: absolute;
 overflow: hidden;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
}

div.obamaPOL {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
/*Hover CSS*/
.container {
 position: relative;
 width: 50%;
}

.image {
 display: block;
 width: 100%;
 height: auto;
}

.overlay {
 position: absolute;
 bottom: 100%;
 left: 0;
 right: 0;
 background-color: #ffffff;
 overflow: hidden;
 width: 100%;
 height:0;
 transition: .5s ease;
}

.container:hover .overlay {
 bottom: 0;
 height: 100%;
}

.text {
 color: Black;
 font-size: 20px;
 position: absolute;
 overflow: hidden;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
}

div.merkelPOL {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
/*Hover CSS*/
.container {
 position: relative;
 width: 50%;
}

.image {
 display: block;
 width: 100%;
 height: auto;
}

.overlay {
 position: absolute;
 bottom: 100%;
 left: 0;
 right: 0;
 background-color: #ffffff;
 overflow: hidden;
 width: 100%;
 height:0;
 transition: .5s ease;
}

.container:hover .overlay {
 bottom: 0;
 height: 100%;
}

.text {
 color: Black;
 font-size: 20px;
 position: absolute;
 overflow: hidden;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
}

div.malalaPOL {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

/*Hover CSS*/
.container {
 position: relative;
 width: 50%;
}

.image {
 display: block;
 width: 100%;
 height: auto;
}

.overlay {
 position: absolute;
 bottom: 100%;
 left: 0;
 right: 0;
 background-color: #ffffff;
 overflow: hidden;
 width: 100%;
 height:0;
 transition: .5s ease;
}

.container:hover .overlay {
 bottom: 0;
 height: 100%;
}

.text {
 color: Black;
 font-size: 20px;
 position: absolute;
 overflow: hidden;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
}

.interact-5a9ef64d07adcb0014faae9d {
  display: block;
    margin-left: auto;
    margin-right: auto
  padding: 10px 20px;
}



</style>
