<style>
title {
  text-align: center;
  color: white;
}
a {
    color: black;
    }

body {
  background: url(http://bgfons.com/uploads/paper/paper_texture3868.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.links {
    padding-top: 10px;
    padding-bottom: 100px;
    padding-left: 50px;
    text-align: center;
    color: black;
}

.container {
    position: relative;
}

.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}
  h1 {
      font-size: 60px;
      color: white;
      width: 1200px;
      padding: 0px 20px 0px 10px;
      }
  ul {
      padding: 10px;
      }
  li {
      display: inline;
      padding: 0px 10px 0px 10px;
      }
  article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
  }

  @media (max-width: 500px) {
    body {
      background: white;
    }
    h1 {
      font-size: 36px;
    }
    li {
      display: block;
      padding: 0.50px
    }
  }


.mainquote {
    position: absolute;
    top: 515px;
    right: -10px;
    font-size: 24px;
    font-family:  Arial, Helvetica, sans-serif;
    }

/*images*/
.headerimage {
    object-fit: cover;
    opacity: 0.8;
    filter: alpha(opacity=30);
    width: 1500px;
    height: 400px;
    overflow: hidden;
    -webkit-filter: sepia(100%);
    filter: sepia(70%);
    margin: 30px 0px 0px 0px;
    border: 7px solid black;
    border-radius: 20px;
}

.crop img {
    width: 400px;
    height: 300px;
    margin: -100px 0 0 -100px;
}

.image1 {
      width: 100%;
      border: 10px solid #AB9688;
      border-radius: 250px;
      box-shadow: 8px 8px 8px 3px gray;
      width: 100%;
      border: 7px solid #8a4419;
      border-style: inset;
    }

.image2 {
    position: absolute;
    top: -800px;
    right: -40px;
    width: 20px;
    border-radius: 180px;
    box-shadow: 8px 8px 8px 3px gray;
    width: 100%;
    border: 3px solid #8a4419;
    border-style: inset;
    }
    /*Hover CSS*/
    .container {
     position: relative;
     width: 50%;
    }

    .image2 {
     display: block;
     width: 100%;
     height: auto;
    }

    .overlay {
     position: absolute;
     bottom: 100%;
     left: 0;
     right: 0;
     background-color: #ffffff;
     overflow: hidden;
     width: 100%;
     height:0;
     transition: .5s ease;
    }

    .container:hover .overlay {
     bottom: 0;
     height: 100%;
    }

    .text {
     color: Black;
     font-size: 20px;
     position: absolute;
     overflow: hidden;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
    }

.intro {
    right: 50px;
    top: 100px;
    width: 1200px;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    }


.mainquote {
    position: right;
    top: 950px;
    right: 50px;
    width: 600px;
    }

.socialbuttons {
  bottom: 50px;  }
</style>
