<style>
title {
  text-align: center;
  color: white;
}
a {
    color: black;
    }

body {
  background: url(http://bgfons.com/uploads/paper/paper_texture3868.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
    position: relative;
}

.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}
  h1 {
      font-size: 65px;
      font-family:  Arial, Helvetica, sans-serif;
      color: white;
      }
  ul {
      padding: 30px 10px 0px 10px ;
     }
  li {
      display: inline;
      padding: 30px 10px 0px 10px;
      }

.headerimage {
    object-fit: cover;
    opacity: 0.8;
    filter: alpha(opacity=30);
    width: 1500px;
    height: 400px;
    overflow: hidden;
    -webkit-filter: sepia(100%);
    filter: sepia(70%);
    margin: 30px 0px 0px 0px;
    border: 7px solid black;
    border-radius: 20px;
}

.crop img {
    width: 400px;
    height: 300px;
    margin: -100px 0 0 -100px;
}


  h2 {
        font-size: 24px;
        font-family:  Arial, Helvetica, sans-serif;
        }

  p {
          font-size: 18px;
          font-family:  Arial, Helvetica, sans-serif;
          }


</style>
